#**************************************************************#
###===============CONFIGURATION FILE FOR AMON================###
###=======YOU CAN ADD/REMOVE/MODIFY EXISTING PARAMETERS======###
###=======ACCORDINGLY MODIFY Config Struct of AMON===========###
###==========================================================###
#**************************************************************#

ALARM_SLEEP = 1
DEFAULT_SNAPLEN = 128
DEFAULT_DEVICE = eth0
MONGO_DB_CLIENT = mongodb://localhost:27017/
DB_CLIENT = tcp://127.0.0.1:3306
DATABASE = amon
USER = amon_user
PASS = amonsenss
DB_COLLECTION = databricks
SEED = 134
STRATA_FILE = strata.txt
