#**************************************************************#
###===============CONFIGURATION FILE FOR AMON================###
###=======YOU CAN ADD/REMOVE/MODIFY EXISTING PARAMETERS======###
###=======ACCORDINGLY MODIFY Config Struct of AMON===========###
###==========================================================###
#**************************************************************#

interval=3                // How often we collect and examine stats
file_interval=3600        // Some files may have messed up records. We ignore records with times that are greater than first record's time plus 1h. If your files are bigger than 1h, adjust this interval accordingly.
attack_low=30             // A bin should be abnormal this many seconds to report attack 
attack_high=60            // A bin should be normal this many seconds to report end of attack
hist_len=3600             // We replace old stats with new after this many seconds
min_train=3600            // We train for this many seconds before we start detecting
numstd=5                  // How many STDEV around the mean are considered normal range
filter_thresh=0.5         // A signature must describe at least this fraction of samples
sig_flows=100             // If we match this many flows to a signature, that is enough to evaluate it
spec_thresh=0.05          // If symmetric flows matching this signature are this fraction of all flows that matched, this signature is not specific enough
